[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=novnc
Comment=autostart
Exec=/opt/noVNC/utils/novnc_proxy --vnc 127.0.0.1:5900 --listen 0.0.0.0:6090
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

